<%= form_for @listing do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :property_type %>
    <%= f.text_field :property_type %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :rooms %>
    <%= f.number_field :rooms %>
  </div>

  <div class="field">
    <%= f.label :capacity %>
    <%= f.number_field :capacity %>
  </div>

  <div class="field">
    <%= f.label :available %>
    <%= f.check_box :available %>
  </div>

  <div class="field">
    <%= f.label :average_rating %>
    <%= f.number_field :average_rating %>
  </div>

  <div class="field">
    <%= f.label :check_in %>
    <%= f.date_field :check_in, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= f.label :check_out %>
    <%= f.date_field :check_out, class: 'datepicker' %>
  </div>

  <div class="actions">
    <%= f.submit "Create Booking" %>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: 'yyyy-mm-dd', // Adjust the date format if needed
      autoclose: true,
      startDate: new Date() // Optional: Restrict dates to be in the future
    });
  });
</script>